# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc

# ========================
# Node / Next.js
# ========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ========================
# Mac
# ========================
.DS_Store
*.pemchroma_db/
